<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <ion-title (click)="signOut.emit()" style="float: left;">
      {{user.displayName}}'s {{title}} ({{items.length}})
  </ion-title>
  <a class="btn-flat btn-floating waves-effect" (click)="add.emit()"><i class="material-icons" style="color: purple; font-size: 32px;">add</i></a>
