<ion-spinner *ngIf="loading" color="primary"></ion-spinner>
<!-- <ion-card *ngFor="let item of items;">
  <ion-card-header>
    <ion-card-title>{{item.text}}</ion-card-title>
  </ion-card-header>
</ion-card> -->
  <ion-item-sliding class="card" *ngFor="let item of items; let i = index">
    <ion-item (click)="edit(item)">
      <ion-label class="label">{{item.text}}</ion-label>
      <ion-note color="primary" mode="ios" slot="end">{{item.fdate}}</ion-note>
    </ion-item>

    <ion-item-options side="start" (ionSwipe)="complete(item)">
      <ion-item-option color="success" (click)="complete(item)" *ngIf="allowDone" [expandable]="allowDone">
        <ion-icon name="checkmark-circle"></ion-icon>
      </ion-item-option>
      <ion-item-option color="secondary" (click)="crit(item)" *ngIf="allowCrit">
        <ion-icon name="flash"></ion-icon>
      </ion-item-option>
      <ion-item-option color="secondary" (click)="later(item)" *ngIf="allowLater">
        <ion-icon name="moon"></ion-icon>
      </ion-item-option>
      <ion-item-option color="secondary" (click)="moveByOffset(i, -1)" *ngIf="i !== 0">
        <ion-icon name="arrow-up"></ion-icon>
      </ion-item-option>
      <ion-item-option color="secondary" (click)="moveByOffset(i, 1)" *ngIf="i !== items.length-1">
        <ion-icon name="arrow-down"></ion-icon>
      </ion-item-option>
    </ion-item-options>
    
    <ion-item-options side="end" (ionSwipe)="delete(item)">
      <ion-item-option color="danger" (click)="delete(item)" expandable>
        <ion-icon name="close"></ion-icon>
      </ion-item-option>
    </ion-item-options>

  </ion-item-sliding>
  <!--<a style="position: absolute; left: 93%; top: 90%;" class="btn-floating waves-effect waves-light red" (click)="navDone()"><i class="material-icons">swap_horiz</i></a>-->
  <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
    <a class="btn-floating btn-large purple">
      <i (click)="navDone()" class="large material-icons">swap_horiz</i>
    </a>
  </div>

